tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lua / LuaRocks
.luarocks/
lua_modules/
luac.out
